.body { 
    width: 100%;
    height: 100dvh;
}

.header-content{
    padding: 12px;
}

.search-bar{
    margin: 7px;
}

#app { 
    width: 100%;
    height: 100dvh;
}

.model-type-0 {
    background-color: #111b26;
    color: #69c0ff;
    border: 1px solid #003a8c;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.model-type-1 {
    background-color: #162312;
    color: #95de64;
    border: 1px solid #389e0d;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.model-type-2 {
    background-color: #2b1d11;
    color: #ffa940;
    border: 1px solid #d48806;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.dark-theme .api-key-text {
    font-family: 'Courier New', Courier, monospace;
    color: #999;
}

.config-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.config-header {
    flex-shrink: 0;
}

.config-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.search-bar {
    flex-shrink: 0;
}

.table-container {
    flex-grow: 1;
    overflow-y: auto; /* 让表格内容可以垂直滚动 */
}