.body { 
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
}

.header-content{
    padding: 12px;
}

#app { 
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
}

.model-type-0 {
    background-color: #111b26;
    color: #69c0ff;
    border: 1px solid #003a8c;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.model-type-1 {
    background-color: #162312;
    color: #95de64;
    border: 1px solid #389e0d;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.model-type-2 {
    background-color: #2b1d11;
    color: #ffa940;
    border: 1px solid #d48806;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

/* 这些样式已迁移到组件独立的CSS文件中，此处保留仅用于兼容 */
